@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1900px;
  color: #6c7279;
  font-family: Raleway, sans-serif;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1900px / 1900px = 100% */
  background: url(images/layer_1.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  position: relative;
}
.masthead {
  height: 750px;
  padding: 38px 0 156px;
  position: relative;
  background: url(images/rectangle_1.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained {
  margin: 0 auto;
  position: relative;
  width: 1900px;
}
.header-2 {
  margin: 0 auto;
  position: relative;
  width: 1179px;
}
.activebox {
  float: left;
}
.navigation {
  float: right;
  margin: 5px 0 0;
  position: relative;
  width: 599px;
}
.navigation > * {
  float: left;
  margin: 0 49.05px 0 0;
}
.navigation > *:last-child {
  margin-right: 0 !important;
}
.features {
  opacity: 0.75;
  color: #ffffff;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: bold;
  text-transform: uppercase;
}
.works {
  opacity: 0.75;
  color: #ffffff;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: bold;
  text-transform: uppercase;
}
.text {
  opacity: 0.75;
  color: #ffffff;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: bold;
  text-transform: uppercase;
}
.testimonials {
  opacity: 0.75;
  color: #ffffff;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: bold;
  text-transform: uppercase;
}
.download {
  opacity: 0.75;
  color: #ffffff;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: bold;
  text-transform: uppercase;
}
.text-2 {
  margin: 183px 0 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.0625rem; /* 65px / 16px = 4.0625rem */
  font-weight: bold;
  line-height: 71px;
  text-align: center;
  text-transform: uppercase;
}
.text-3 {
  margin: 20px 0 0;
  color: #ffffff;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  line-height: 33px;
  text-align: center;
}
.button {
  margin: 71px auto 0;
  max-width: 200px;
  min-height: 46px;
  padding: 0 0 0 8px;
  width: 200px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #e84545;
  color: #ffffff;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
}
.main-content-wrapper {
  margin: 120px auto 0;
  position: relative;
  width: 1900px;
}
.features-2 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.row-2 {
  position: relative;
  width: 1080px;
}
.row-2 > * {
  float: left;
  margin: 0 90px 0 0;
}
.row-2 > *:last-child {
  margin-right: 0 !important;
}
.feature-1 {
  position: relative;
  width: 300px;
  margin-top: 1px !important;
}
.layer-48 {
  display: block;
  margin: 0 auto;
}
.text-5 {
  margin: 32px 0 0;
  color: #2d3033;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-6 {
  margin: 18px auto 0;
  line-height: 21px;
  text-align: center;
}
.feature-2 {
  position: relative;
  width: 300px;
  margin-top: 1px !important;
}
.layer-44 {
  display: block;
  margin: 0 auto;
}
.text-7 {
  margin: 32px 0 0;
  color: #2d3033;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-8 {
  margin: 18px auto 0;
  line-height: 21px;
  text-align: center;
}
.feature-3 {
  position: relative;
  width: 300px;
}
.layer-47 {
  display: block;
  margin: 0 auto;
}
.text-9 {
  margin: 33px 0 0;
  color: #2d3033;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-10 {
  margin: 18px auto 0;
  line-height: 21px;
  text-align: center;
}
.row-3 {
  margin: 70px 0 0;
  position: relative;
  width: 1080px;
}
.row-3 > * {
  float: left;
  margin: 0 90px 0 0;
}
.row-3 > *:last-child {
  margin-right: 0 !important;
}
.feature-4 {
  position: relative;
  width: 300px;
}
.layer-46 {
  display: block;
  margin: 0 auto;
}
.text-11 {
  margin: 33px 0 0;
  color: #2d3033;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-12 {
  margin: 18px auto 0;
  line-height: 21px;
  text-align: center;
}
.feature-5 {
  position: relative;
  width: 300px;
}
.layer-43 {
  display: block;
  margin: 0 auto;
}
.text-13 {
  margin: 33px 0 0;
  color: #2d3033;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-14 {
  margin: 18px auto 0;
  line-height: 21px;
  text-align: center;
}
.feature-6 {
  position: relative;
  width: 300px;
}
.layer-45 {
  display: block;
  margin: 0 auto;
}
.text-15 {
  margin: 33px 0 0;
  color: #2d3033;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-16 {
  margin: 19px auto 0;
  line-height: 21px;
  text-align: center;
}
.works-2 {
  margin: 120px auto 0;
  position: relative;
}
.col-2 {
  float: left;
  position: relative;
  width: 950px;
}
.row-4 {
  position: relative;
}
.rectangle-3-copy {
  float: left;
  margin: 0 1px 0 0;
  width: 469px;
}
.rectangle-3 {
  float: left;
  width: 480px;
}
.row-5 {
  margin: 1px 0 0;
  position: relative;
}
.rectangle-3-copy-2 {
  float: left;
  margin: 0 1px 0 0;
  width: 469px;
}
.rectangle-3-2 {
  float: left;
  width: 480px;
}
.col-3 {
  float: right;
  position: relative;
  width: 949px;
}
.row-6 {
  position: relative;
}
.work-3 {
  float: left;
  height: 350px;
  margin: 0 1px 0 0;
  padding: 154px 0 155px;
  position: relative;
  width: 480px;
  background: url(images/rectangle_3_copy_2.jpg) no-repeat;
}
.group-5 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-17 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-18 {
  margin: 10px 0 0;
  color: #ffffff;
  text-align: center;
}
.rectangle-3-copy-4 {
  float: left;
  width: 468px;
}
.row-7 {
  margin: 1px 0 0;
  position: relative;
}
.rectangle-3-copy-2-2 {
  float: left;
  margin: 0 1px 0 0;
  width: 480px;
}
.rectangle-3-copy-4-2 {
  float: left;
  width: 468px;
}
.team {
  margin: 101px auto 0;
  position: relative;
  width: 1170px;
}
.team > * {
  float: left;
  margin: 0 30px 0 0;
}
.team > *:last-child {
  margin-right: 0 !important;
}
.team-1 {
  position: relative;
  width: 270px;
}
.layer-7 {
  display: block;
  position: relative;
}
.text-19 {
  margin: 28px 0 0;
  color: #2d3033;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
}
.text-20 {
  margin: 11px 0 0;
  color: #e84545;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  text-transform: uppercase;
}
.text-21 {
  margin: 23px 0 0;
  width: 269px;
  line-height: 21px;
}
.social-icons {
  margin: 27px 0 0;
  position: relative;
}
.social-icons > * {
  float: left;
  margin: 0 4px 0 0;
}
.social-icons > *:last-child {
  margin-right: 0 !important;
}
.rectangle-6-holder {
  padding: 10px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-6 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-holder {
  padding: 12px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-3 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-2-holder {
  padding: 11px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-11 {
  display: block;
  margin: 0 auto;
}
.team-2 {
  position: relative;
  width: 270px;
}
.layer-7-2 {
  display: block;
  position: relative;
}
.text-22 {
  margin: 27px 0 0;
  color: #2d3033;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
}
.text-23 {
  margin: 9px 0 0;
  color: #e84545;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  text-transform: uppercase;
}
.text-24 {
  margin: 23px 0 0;
  width: 269px;
  line-height: 21px;
}
.social-icons-2 {
  margin: 27px 0 0;
  position: relative;
}
.social-icons-2 > * {
  float: left;
  margin: 0 4px 0 0;
}
.social-icons-2 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-6-holder-2 {
  padding: 10px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-6-2 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-holder-2 {
  padding: 12px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-3-2 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-2-holder-2 {
  padding: 11px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-11-2 {
  display: block;
  margin: 0 auto;
}
.team-3 {
  position: relative;
  width: 270px;
}
.layer-7-3 {
  display: block;
  position: relative;
}
.text-25 {
  margin: 28px 0 0;
  color: #2d3033;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
}
.text-26 {
  margin: 11px 0 0;
  color: #e84545;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  text-transform: uppercase;
}
.text-27 {
  margin: 23px 0 0;
  width: 269px;
  line-height: 21px;
}
.social-icons-3 {
  margin: 27px 0 0;
  position: relative;
}
.social-icons-3 > * {
  float: left;
  margin: 0 4px 0 0;
}
.social-icons-3 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-6-holder-3 {
  padding: 10px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-6-3 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-holder-3 {
  padding: 12px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-3-3 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-2-holder-3 {
  padding: 11px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-11-3 {
  display: block;
  margin: 0 auto;
}
.team-4 {
  position: relative;
  width: 270px;
}
.layer-7-4 {
  display: block;
  position: relative;
}
.text-28 {
  margin: 27px 0 0;
  color: #2d3033;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
}
.text-29 {
  margin: 9px 0 0;
  color: #e84545;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  text-transform: uppercase;
}
.text-30 {
  margin: 23px 0 0;
  width: 269px;
  line-height: 21px;
}
.social-icons-4 {
  margin: 27px 0 0;
  position: relative;
}
.social-icons-4 > * {
  float: left;
  margin: 0 4px 0 0;
}
.social-icons-4 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-6-holder-4 {
  padding: 10px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-6-4 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-holder-4 {
  padding: 12px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-3-4 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-2-holder-4 {
  padding: 11px 0;
  position: relative;
  width: 40px;
  border: 1px solid #e8ecee; /*stroke*/
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.shape-11-4 {
  display: block;
  margin: 0 auto;
}
.clients {
  margin: 101px auto 0;
  position: relative;
}
.rectangle-4 {
  float: left;
  width: 950px;
}
.col {
  float: left;
  min-height: 500px;
  padding: 115px 81px 107px;
  position: relative;
  width: 950px;
  background: #53354a;
}
.text-31 {
  width: 508px;
  color: #ffffff;
  font-family: Cardo, serif;
  font-size: 2.25rem; /* 36px / 16px = 2.25rem */
  font-style: italic;
  line-height: 42px;
}
.text-32 {
  margin: 25px 0 0 4px;
  color: #ffffff;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: bold;
  text-transform: uppercase;
}
.slidecontrol {
  margin: 63px 208px 0;
  position: relative;
}
.slidecontrol > * {
  float: left;
  margin: 0 8px 0 0;
}
.slidecontrol > *:last-child {
  margin-right: 0 !important;
}
.ellipse-1 {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.ellipse-1-copy {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
}
.ellipse-1-copy-2 {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.ellipse-1-copy-3 {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.ellipse-1-copy-4 {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.download-2 {
  display: table;
  margin: 96px auto 0;
  position: relative;
}
.text-33 {
  color: #2d3033;
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
  font-weight: 300;
  text-align: center;
}
.text-34 {
  margin: 14px 0 0;
  color: #2d3033;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.button-2 {
  display: table;
  margin: 39px auto 0;
  min-height: 46px;
  padding: 0 78px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #e84545;
  color: #ffffff;
  font-size: 0.8125rem; /* 13px / 16px = 0.8125rem */
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
}
.footer {
  margin: 100px 0 0;
  position: relative;
}
.footer-2 {
  position: relative;
}
.row {
  padding: 69px 0 84px;
  position: relative;
  background: #3a3e64;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 379px;
  position: relative;
  width: 1900px;
}
.l-constrained-2 > * {
  float: left;
  margin: 0 141px 0 0;
}
.l-constrained-2 > *:last-child {
  margin-right: 0 !important;
}
.location {
  position: relative;
  width: 362px;
}
.location-2 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-36 {
  margin: 14px auto 0;
  opacity: 0.5;
  color: #ffffff;
  line-height: 22.5px;
  text-align: center;
}
.share {
  position: relative;
  width: 136px;
}
.location-3 {
  margin: 0 -1px 0 0;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.social-icons-5 {
  margin: 19px auto 0;
  position: relative;
  width: 134px;
}
.social-icons-5 > * {
  float: left;
  margin: 0 7px 0 0;
}
.social-icons-5 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-6-holder-5 {
  padding: 9px 0;
  position: relative;
  width: 40px;
  border: 2px solid #ffffff; /*stroke*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.shape-6-5 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-holder-5 {
  padding: 11px 0;
  position: relative;
  width: 40px;
  border: 2px solid #ffffff; /*stroke*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.shape-3-5 {
  display: block;
  margin: 0 auto;
}
.rectangle-6-copy-2-holder-5 {
  padding: 10px 0;
  position: relative;
  width: 40px;
  border: 2px solid #ffffff; /*stroke*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.shape-11-5 {
  display: block;
  margin: 0 auto;
}
.about {
  position: relative;
  width: 362px;
}
.location-4 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-37 {
  margin: 13px auto 0;
  opacity: 0.5;
  color: #ffffff;
  line-height: 22.5px;
  text-align: center;
}
.rectangle-8-copy-holder {
  padding: 29px 0;
  position: relative;
  background: #313454;
}
.text-38 {
  display: block;
  margin: 0 auto;
}
